app-import {
    width: 40vw;
    ion-card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid lightgrey;
        margin-bottom: 12px;

        ion-icon {
            margin-left: 12px;
            color: gray;
        }
    }

    ion-card-content {
        display: grid;
        grid-template-columns: auto auto 1fr;
        align-items: center;

        p {
            grid-column: span 3;
        }
        input {
            margin: 4px;
            margin-left: 8px;
            grid-column: span 2;
        }

        i {
            grid-column: 2;
            color: var(--ion-color-danger);
        }

        ion-button {
            grid-column: 3;
            justify-self: end;
        }
    }
}
